.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.form--input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.form--input_child {
    width: 48%;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #D5D4D8;
}

.form--button {
    width: 100%;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    border-style: hidden;
    color: #FFFFFF;
    padding: 10px;
    font-family: 'karla', sans-serif;
    margin-top: 15px;
    letter-spacing: -0.1em;
}
