.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px;
    color: #FFFFFF;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    margin-right: auto;
    font-size: 1.25rem; /* 1rem = 16px */
    letter-spacing: -0.1em;
}

.header--project {
    font-weight: 500;
    font-size: 0.75rem;
}